.card {
    display: flex;
    min-width: 0;
    // padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 .125rem .25rem rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
.heroCard {
    @extend .card;

    @media screen and (max-width: 30rem) {
        flex-direction: column;
    }

    & > * {
        padding: 2rem;
    }

    .imgSection {
        flex: 24 1 24%;

        @media screen and (min-width: 30.0625rem) {
            padding-right: 0;
        }

        @media screen and (max-width: 30rem) {
            padding-bottom: 0;
        }

        img {
            margin-bottom: 0;
            border-radius: 50%;
        }
    }

    .contentSection {
        flex: 76 1 76%;

        h1 {
            line-height: 1;

            small {
                display: block;
                font-size: 40%;
                font-weight: 500;
            }
        }
    }

    .generalInfoSection {
        display: inline-flex;
        width: 100%;
        margin-bottom: 1.25rem;

        @media screen and (max-width: 30rem) {
            flex-direction: column;
        }

        & > *:not(:first-child) {
            margin-left: 2rem;

            @media screen and (max-width: 30rem) {
                margin-left: 0;
            }
        }

        i {
            font-style: normal;
        }
    }
}

.achievementsSection {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
        width: 100%;

        @media screen and (min-width: 48rem) {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
            padding: 0 0.5rem;
        }

        i {
            font-size: 2rem;
            font-style: normal;
        }
    }
}

.quoteSection {
    blockquote {
        border-radius: 0.5rem;
        background-color: #f7f6f5;
        padding: 1.5rem;
        text-align: right;

        & > * {
            font-weight: 500;
            font-style: italic;
        }

        h3 {
            margin-bottom: 0;
        }
    }
}

.imageCard {
    @extend .card;
    flex-direction: column;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;

    .cardImg {
        width: 100%;
        margin-bottom: 0;
        border-top-left-radius: calc(.5rem - 1px);
        border-top-right-radius: calc(.5rem - 1px);
    }

    .cardBody {
        flex: 1 1 auto;
        padding: 1.25rem;

        p:last-child {
            margin-bottom: 0;
        }
    }
}