section {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.card {
    display: flex;
    min-width: 0;
    // padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 .125rem .25rem rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

    & > *:last-child {
        margin-bottom: 0;
    }

    &.info {
        background: rgb(255, 99, 71);
        box-shadow: 0 .125rem .25rem rgba(255, 99, 71, 0.1), 0 0 0 1px rgba(255, 99, 71, 0.1);

        h1, h2, h3, h4, h5, h6 {
            color: hsla(0, 13%, 100%, 1)
        }

        p {
            color: hsla(0, 13%, 100%, 0.8)
        }
    }
}
.heroCard {
    @extend .card;

    @media screen and (max-width: 48rem) {
        flex-direction: column;
    }

    & > * {
        padding: 2rem;
    }

    .imgSection {
        flex: 24 1 24%;

        @media screen and (min-width: 30.0625rem) {
            padding-right: 0;
        }

        @media screen and (max-width: 30rem) {
            padding-bottom: 0;
        }

        img {
            display: block;
            margin-bottom: 0;
            border-radius: 50%;

            @media screen and (max-width: 48rem) {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .contentSection {
        flex: 76 1 76%;

        h1 {
            line-height: 1;

            small {
                display: block;
                font-size: 40%;
                font-weight: 500;
            }
        }
    }

    .generalInfoSection {
        display: inline-flex;
        width: 100%;
        margin-bottom: 1.25rem;

        @media screen and (max-width: 30rem) {
            flex-direction: column;
        }

        & > *:not(:first-child) {
            margin-left: 2rem;

            @media screen and (max-width: 30rem) {
                margin-left: 0;
            }
        }

        i {
            font-style: normal;
        }
    }
}

.achievementsSection {

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
            width: 100%;

            @media screen and (min-width: 48rem) {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
                padding: 0 0.5rem;
            }

            i {
                font-size: 2rem;
                font-style: normal;
            }
        }
    }
}

.quoteSection {
    blockquote {
        border-radius: 0.5rem;
        background-color: #f1eeee;
        padding: 1.5rem;
        text-align: right;

        & > * {
            font-weight: 500;
            font-style: italic;
        }

        h3 {
            margin-bottom: 0;
        }
    }
}

.imageCard {
    @extend .card;
    flex-direction: column;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;

    .cardImg {
        width: 100%;
        margin-bottom: 0;
        border-top-left-radius: calc(.5rem - 1px);
        border-top-right-radius: calc(.5rem - 1px);
    }

    .cardBody {
        flex: 1 1 auto;
        padding: 1.25rem;

        p:last-child {
            margin-bottom: 0;
        }
    }
}

.inventionsSection {
    display: flex;
    flex-wrap: wrap;

    & > * {
        width: 100%;
    }

    .col {
        display: flex;
        flex: 0 0 50%;
        align-items: stretch;
        max-width: 50%;
        width: 100%;
        min-height: 1px;
        padding: .75rem;

        @media screen and (max-width: 48rem) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .card {
        flex-direction: column;

        @media screen and (max-width: 48rem) {
            margin-bottom: 0;
        }

        & > * {
            padding: 1rem;

            & > *:last-child {
                margin-bottom: 0;
            }
        }

        .heading {
            width: 100%;
            border-bottom: 1px solid hsla(0, 0%, 4%, .1);
        }

        .footer {
            width: 100%;
            margin-top: auto;
            padding: 0.5rem 1rem;
            border-top: 1px solid hsla(0, 0%, 4%, .1);

            & > * {
                text-align: right;
            }
        }

        .card.info {
            padding: 1rem;

            & > * {
                padding: 0;
            }
        }
    }
}

.distintionsSection {
    @extend .inventionsSection;

    .col {
        flex: 0 0 33.33%;
        max-width: 33.33%;

        @media screen and (max-width: 48rem) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .card {
        width: 100%;

        .content {
            margin-top: auto;
        }
    }
}