$brand-color: tomato;

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: $brand-color;
    text-decoration: none;
}