@media screen and (max-width: 30rem) {
    h1 {
        font-size: 2.07474rem;
    }

    h2 {
        font-size: 1.62671rem;
    }

    h3 {
        font-size: 1rem;
    }

    h4, h5, h6, small {
        font-size: 0.78405rem;
    }
}